<div id="my-fadeout" class="calendar container ">
    <div class="calendar-block calendar-left col-lg-8">
        <table class="table">
            <thead>
                <tr>
                <th>Monday</th>
                <th>Tuesday</th>
                <th>Wednsday</th>
                <th>Thursday</th>
                <th>Friday</th>
                <th>Saturdat</th>
                <th>Sunday</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
    <div class="calendar-block calendar-right col-lg-4">
        
    </div>
</div>