progress {
    height: 3em;
    animation: 1s ease 0s 1 normal backwards running expand;
    -moz-animation: 1s ease 0s 1 normal backwards running expand;
    width: 100%;
}

@keyframes expand{
    from {width: 0%; opacity: 0}
    to {width: 100%; opacity: 1}
}

.main-page {
    width: 100%;
    height: 100vh;
    padding: 5%;
    padding-top: 100px;
}

.scroll-page {
    width: 100%;
    height: 100vh;
    background-color: #0074d9;
}

#my-schedule, #my-progressbar {
    text-align: center;
}

.round-letter {
    width:80%;
    display: inline-block;
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
    border: 3px solid #0074d9;
    border-radius: 0.25em;
    font-size: 2em;
    font-weight: 300;
}

.schedule-item {
    text-align: center;
}

.schedule-container {
    overflow-y: scroll;
    height: 50vh;
}