<!DOCTYPE html>
<html>
    <head>
        <title>MyMICDS - Home</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    </head>
    <body>
        <div id="lunch_display">
            <ul><% for (var day in lunchObject) { %>
                <li><%= day + ': ' %>
                    <ul><% for (var school in lunchObject) { %>
                        <li><%= school %>
                            <ul><% for (var section in lunchObject[day]) { %>
                                <li><%= section + ': '%>
                                    <ul><% for (var dish in day[section]) {%>
                                        <li><%= dish + ' | ' %></li>
                                    <% }; %></ul>
                                </li>
                            <% }; %></ul>
                        </li>    
                    <% }; %></ul>
                </li>
            <% }; %></ul>
        </div>
        
		<script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
		<script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
		
    </body>
</html>