<nav class="navbar navbar-fixed-top navbar-light bg-faded">
    <div class="nav navbar-nav">
        <a *ngFor="let page of pages; let i = index" [ngClass]="{active: isActive[i], 'nav-item': true, 'nav-link': true}"  (click)="onSelect(i)">{{page}}</a>
        <h1 class="navbar-brand">MyMICDS<div id="dot"></div><div id="bold">net</div></h1><!--Fancy animation needed for the logo-->
    </div>
</nav>

<router-outlet></router-outlet>

<!--[routerLink]="['/'+page]"  is not used because I used router.navigate in the navComponent-->