<div id="my-progressbar">
<!-- TODO: use iframe, object, img, etc. to make the svg fluid -->
<svg id="my-progressbar-svg"  height="400" width="400" (click)="click=!click; thinner()" [style.transform]="click ? 'scale(2)' : 'inherit'">
    
    <g>
        <text [style.animation]="click ? '0.4s ease 0s 1 normal forwards running fade-out' : '0.5s ease 0s 1 normal forwards running fade-in'" id="my-progressbar-msg" x="200" y="200" text-anchor="middle">Your day is {{percentage}}% complete.</text>
        <circle id="outer" cx="200" cy="200" r="170" stroke="#aaa" stroke-width="50px" fill="none"/>
        <path id="inner" [attr.d]="describeArc(200, 200, 170, 0, 360/100*percentage)" fill="none" stroke="#002040" stroke-width="30px" stroke-linecap="round"/>
    </g>

    <g id="expanded" [style.animation]="!click ? '0.4s ease 0s 1 normal forwards running fade-out' : '0.5s ease 0s 1 normal forwards running fade-in'" [style.display]="click ? 'inherit' : ''">
        <text id="my-progressbar-expanded-msg-1" x="200" y="200" text-anchor="middle">Current class: {{current_class}}</text>
        <text id="my-progressbar-expanded-msg-2" x="200" y="250" text-anchor="middle">{{current_percentage}}% completed.</text>
        <path id="expanded-percentage" [attr.d]="describeArc(200, 200, 100, 0, 360/100*current_percentage)" fill="none" stroke="#002040" stroke-width="15px" stroke-linecap="round"/>
    </g>

</svg>
</div>

<!--[style.display]="click ? 'none' : 'inherit'"
[style.animation]="click ? '0.4s ease 0s 1 normal forwards running fade-out' : '0.5s ease 0s 1 normal forwards running fade-in'"
        <line [attr.x1]="polarToCartesian(200, 200, 100, 120).x" [attr.y1]="polarToCartesian(200, 200, 100, 120).y" [attr.x2]="polarToCartesian(200, 200, 100, 120).x+3" [attr.y2]="polarToCartesian(200, 200, 100, 120).y-6" stroke="#000" stroke-width="30px" />
        <line [attr.x1]="polarToCartesian(200, 200, 100, 240).x" [attr.y1]="polarToCartesian(200, 200, 100, 240).y" [attr.x2]="polarToCartesian(200, 200, 100, 240).x-3" [attr.y2]="polarToCartesian(200, 200, 100, 240).y-6" stroke="#000" stroke-width="30px" />
        -->