docs
node_modules
npm-debug.log
src/libs/config.js
src/public/css/*.css
src/public/daily-bulletin
src/public/images/backgrounds/user-backgrounds
src/public/json
src/public/scss/*.log
src/angular-front-end/node_modules