docs
node_modules
dist
*.log

.idea
.vscode

src/api
src/html/messages/*.html
src/libs/config.ts
src/public/daily-bulletin
src/public/user-backgrounds/*
!src/public/user-backgrounds/default
src/public/json
src/scripts/*blacklist.json
src/scripts/class-emails.json

test/config.ts
.nyc_output
