docs
node_modules
*.log

.idea
.vscode

src/api
src/html/messages/*.html
src/libs/config.js
src/public/daily-bulletin
src/public/user-backgrounds/*
!src/public/user-backgrounds/default
src/public/json
src/scripts/*blacklist.json
src/scripts/class-emails.json
