 .nav-item:hover, .nav-item:active, .nav-item:focus {
    text-decoration: none;
}

.nav-item {
    font-size: 2em;
    transition: all 0.3s ease;
    cursor: pointer;
}

.navbar-nav .nav-item+.nav-item {
    margin-left: 2rem;
    text-align: center;
}

.navbar-nav {
    line-height: 2em;
    margin: auto;
}

.active {
    font-size: 2em;
    transition: all 0.3s ease
}

nav {
    margin-bottom: 2em;
    animation: 1s ease 0s 1 normal backwards running fadeIn;
}

@keyframes fadeIn {
    from {opacity: 0}
    to {opacity: 1}
}

.navbar-brand {
    float: right;
    font-size: 4em;
    margin: auto;
    margin-right: 5px;
    font-weight: 400;
}

#dot {
    display: inline-block;
    height: 0.25em;
    width: 0.25em;
    background-color: #0074d9;
    border-radius: 50%;
}

#bold {
    display: inline;
    font-weight: 800;
}

#loginButton, #logoutButton {
    margin-left: 2em;
}