  .navbar {
    align: center;
    margin: 40px 80px 20px;
    padding: auto auto 0px;
    display: flex;
    justify-content: center;
    align-items: center; 
    border-bottom: ;
    }
  .navbar .navbar_item {
    margin: auto;
    font-family: sans-serif;
    color: rgba(102, 102, 102, 0.5);
    font-size: 30px;
    font-weight: 600; 
    transition: 0.3s ease-out}
  .navbar .blur{
    color: transparent;
    text-shadow: 0 0 5px rgba(102, 102, 102, 0.5);
    transition: 0.3s ease-out}
  .navbar .active{
      font-size: 30px;
      font-weight: 700;
      color: #eee;
  }
  .navbar .navbar_item{
    cursor: pointer;
  }