a, a:hover, a:active, a:focus{
  text-decoration: none;
}
    .navbar {
    align: center;
    margin: 0 auto 10vh;
    padding: 3vh auto 0px;
    display: flex;
    align-items: center; 
    }
  .navbar .navbar_item {
    justify-content: space-around;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    color: #eee;
    font-size: 20px;
    font-weight: 600; 
    transition: 0.3s ease-out}
  .navbar .blur{
    color: transparent;
    text-shadow: 0 0 5px rgba(102, 102, 102, 0.5);
    transition: 0.3s ease-out}
  .navbar .active{
      font-size: 20px;
      font-weight: 600;
      border-radius: 30%;
      border-style: solid none solid;
  }
  .navbar .navbar_item{
    cursor: pointer;
  }
  
  @media only screen and (min-width: 768px) {
.navbar .navbar_item {
    font-size: 30px;
}
  .navbar .active{
      font-size: 30px;
  }
  }
