.calendar {
    margin-top: 100px;
    /*add responsive support*/
    animation: 1s ease 0s 1 normal backwards running fadeIn;
    -moz-animation: 1s ease 0s 1 normal backwards running fadeIn;
}

.calendar-left {
    border: 1px solid black;
    box-shadow: 12px 0 30px grey;
    height: 80vh;
    z-index: 2;
}

.calendar-right {
    background-color: #0275d8;
    height: 80vh;
    z-index: 1;
}

@keyframes fadeIn {
    from {opacity: 0}
    to {opacity: 1}
}

.fade-out {
    animation: 0.4s ease 0s 1 normal forwards running fadeOut;
    -moz-animation: 0.4s ease 0s 1 normal forwards running fadeOut;
}

@keyframes fadeOut {
    from {opacity: 1}
    to {opacity: 0}
}