<div class="container">
<div class="alert alert-danger" [hidden]="!errMsg" id="errMsg"><strong>Error registering!</strong> {{errMsg}}</div>
<div [hidden]="submitted">
<h1>Create Your MyMICDS Account</h1>
<form (ngSubmit)="onSubmit(theForm)" #theForm="ngForm">
    <div class="row">
        <fieldset class="form-group col-lg-4">
        <label for="username">Username</label>
        <div class="input-group"><input #username="ngModel" type="text" class="form-control" id="InputUsername1" placeholder="" [(ngModel)]="form.user" name="username" required><div class="input-group-addon">@micds.org</div></div>
        <div [hidden]="username.valid || username.pristine" class="alert alert-danger">Name is required</div>
        <small class="text-muted">Only usernames from MICDS emails should be used here.</small>
        </fieldset>
    </div>

    <div class="row">  
        <fieldset class="form-group col-lg-4">
        <label for="InputPassword1">Password</label>
        <div class="input-group">
            <input #password1="ngModel" type="password" class="form-control" id="InputPassword1" placeholder="Password" [(ngModel)]="form.password" name ="password1" required>
            <div [hidden]="password1.valid || password1.pristine" class="alert alert-danger">Password is required</div>
        </div>
        </fieldset>
    </div>

    <div class="row">
        <fieldset class="form-group col-lg-4">
        <label for="InputPassword2">Repeat Password</label>
        <div class="input-group">
            <input #password2="ngModel" type="password" class="form-control" id="InputPassword2" placeholder="Repeat Password" [(ngModel)]="repeatedPass" name="password2" required>
            <div [hidden]="password2.valid || password2.pristine" class="alert alert-danger">Password is required</div>
            <div [hidden]="(password1.value==password2.value) || password2.pristine" class="alert alert-danger">Passwords don't match</div>
        </div>
        </fieldset>
        <div class="col-lg-1"></div>
    </div>

    <div class="row">
        <fieldset class="form-group col-lg-4">
        <label for="firstname">First Name</label>
        <input #firstname="ngModel" type="text" class="form-control" id="InputFirstName" placeholder="" [(ngModel)]="form.firstName" name="firstname" required>
        <div [hidden]="firstname.valid || firstname.pristine" class="alert alert-danger">Name is required</div>
        </fieldset>

        <fieldset class="form-group col-lg-4">
        <label for="lastname">Last Name</label>
        <input #lastname="ngModel" type="text" class="form-control" id="InputLastName" placeholder="" [(ngModel)]="form.lastName" name="lastname" required>
        <div [hidden]="lastname.valid || lastname.pristine" class="alert alert-danger">Name is required</div>
        </fieldset>
    </div>
 
    <div class="row">  
        <fieldset class="form-group col-lg-4">
        <label for="gradyear">Year of graduation</label>
        <div class="input-group">
            <!--<input #gradyear="ngModel" type="gradyear" class="form-control" id="InputGradyear" placeholder="9th grade: 2019" [(ngModel)]="form['grad-year']" name ="gradyear">-->
            <select class="c-select" #gradyear="ngModel" type="gradyear" id="InputGradyear" placeholder="9th grade: 2019" [(ngModel)]="form['grad-year']" name ="gradyear" required>
                <option selected [value]="null">Select your year of graduation.</option>
                <option *ngFor="let g of gradeRange" [value]="g">{{g}}</option>
            </select>
            <div [hidden]="gradyear.valid || gradyear.pristine" class="alert alert-danger">Year of graduation is required</div>
        </div>
        </fieldset>

        <fieldset class="form-group col-lg-4">
            <div class="checkbox">
                <label>
                <input #teacher="ngModel" class="form-control" type="checkbox" id="InputCheckbox" name="teacher" [(ngModel)]="form.teacher"> Are you a teacher/faculty in MICDS? Check if yes. (Will override year of graduation)
                </label>
            </div>
        </fieldset>
    </div>
    
  <button type="submit" class="btn btn-primary" [disabled]="!(theForm.form.valid&&password1.value==password2.value)">Register</button>
</form>
</div>

<div [hidden]="!((!submitted && submitSuccess) || (submitted && !submitSuccess))" id="loader">
    <h1 class="navbar-brand"><span id="MyMICDS">MyMICDS</span><div id="loading">Loading</div><div id="dot"></div><div id="net"><span id="bold">net</span></div></h1>
</div>

<div [hidden]="!submitSuccess" id="accountCreation">
    <h1>Account Created! Please confirm your email</h1>
    <button class="btn btn-primary" (click)="changeEmail()">Wrong Email?</button>
</div>
</div>