<div class="fluid-container">
    <my-bg></my-bg>
    <nav class="navbar navbar-fixed-top navbar-light bg-faded">
        <div class="nav navbar-nav">
            <a *ngFor="let page of pages; let i = index" [ngClass]="{active: isActive[i], 'nav-item': true, 'nav-link': true}"  (click)="onSelect(i)">{{page}}</a>
            <button *ngIf="!authService.isLoggedIn" id="loginButton" type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#loginModal">login</button>
            <button *ngIf="authService.isLoggedIn" (click)="onClickLogout()" id="logoutButton" type="button" class="btn btn-primary btn-lg" >logout</button>
            <h1 class="navbar-brand">MyMICDS<div id="dot"></div><div id="bold">net</div></h1><!--Fancy animation needed for the logo-->
        </div>
    </nav>

    <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">LOGIN</h4>
                <div class="alert alert-danger" *ngIf="errorMessage"><strong>Error Logging in!</strong> {{errorMessage}} <span *ngIf="serverErrorMessage">{{serverErrorMessage}}</span></div>
            </div>
            <div class="modal-body">
                <form *ngIf="formActive" (ngSubmit)="onClickLogin()" #loginForm="ngForm" id="login-form">
                    <fieldset class="form-group">
                        <label for="loginEmail">Email address</label>
                        <input type="text" class="form-control" id="loginEmail" placeholder="Enter email" required
                        [(ngModel)]="loginModel.email"
                            name="email"  #email="ngModel" >
                        <div [hidden]="email.valid || email.pristine" class="alert alert-danger">
                        Email is required
                        </div>
                    </fieldset>
                    <fieldset class="form-group">
                        <label for="loginPassword">Password</label>
                        <input type="password" class="form-control" id="loginPassword" placeholder="Enter password" required
                        [(ngModel)]="loginModel.password"
                            name="password"  #password="ngModel" >
                        <div [hidden]="password.valid || password.pristine" class="alert alert-danger">
                        Password is required
                        </div>
                    </fieldset>
                    <button type="submit" [disabled]="!loginForm.form.valid" class="btn btn-primary">Login</button>
                </form> <!--try to place the button outisde of the form and inside of the card footer-->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="onClickAccount()">Creat an account</button>
            </div>
            </div>
        </div>
    </div>

    <router-outlet></router-outlet>
</div>

<!--[routerLink]="['/'+page]"  is not used because I used router.navigate in the navComponent-->