<div id="my-fadeout" class="container ">
    <div class="row" id="lunch-nav">
        <button type="button" class="btn btn-primary-outline col-lg-2"><<</button>
        <h2 class="col-lg-8">{{date.year}}-{{date.month}}-{{date.day}}</h2>
        <button type="button" class="btn btn-primary-outline col-lg-2">>></button>
    </div>

    <div class="row" *ngIf="!lunchState" id="lunch-warning">
        <div class="alert alert-warning" role="alert">
            <strong>Warning!</strong> Lunch is not avaliable today!
        </div>
    </div>

    <div class="row" *ngIf="lunchSpecial">
        <div class="alert alert-info" role="alert">
            <strong>Lunch Special!</strong> {{lunchSpecial}}
        </div>
    </div>

    <div class="row flex-container">
        <div class="card flex-item" *ngFor="let station of stations; let i=index">
            <div class="card-block">
                <h4 class="card-title">{{station}}</h4>
                <h6 class="card-subtitle text-muted"></h6>
            </div>
            <img [src]="imgLinks[i]" alt="Card image">
            <div class="card-block">
                <p class="card-text">{{lunch[station].join(', ')}}</p>
                <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a>
            </div>
        </div>
    </div>

</div>