@keyframes bouncy{
    0% { transform: scaleX(0); -webkit-transform: scaleX(0);}
    60% { transform: scaleX(1.25); -webkit-transform: scaleX(1.25);}
    100% { transform: scaleX(1); -webkit-transform: scaleX(1);}
}

#outer {
    animation: 1s ease-out 0s 1 normal backwards running bouncy;
    -webkit-animation: 1s ease-out 0s 1 normal backwards running bouncy;
    -moz-animation: 1s ease-out 0s 1 normal backwards running bouncy;
}

#inner {
    animation: 1s ease-out 0.5s 1 normal backwards running bouncy;
    -webkit-animation: 1s ease-out 0s 1 normal backwards running bouncy;
    -moz-animation: 1s ease-out 0s 1 normal backwards running bouncy;
}
#my-progressbar {
    display: flex;
}
#my-progressbar-msg {
    margin: auto;
    font-size: 3rem;
}
#my-progressbar-svg {
    margin: auto
}

