<div id="my-fadeout">
    <div class="main-page">
        <div class="row">
            <div id="my-date" class="col-lg-6">
                <div class="card card-block">
                    <h3 class="card-title">{{date.dateString}}</h3>
                    <p class="card-text"></p>
                </div>
            </div>
            <div id="my-rotation" class="col-lg-6">
                <div class="card card-block">
                    <h3 *ngIf="rotation_day" class="card-title">Day {{rotation_day}}</h3>
                    <h3 *ngIf="!rotation_day" class="card-title">No school today</h3>
                    <p class="card-text"></p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="alert alert-info" role="alert" *ngIf="!school_avaliable">
                <strong>School is not in session!</strong>
            </div>
            <div id="my-progressbar">
                <progress class="progress" [value]="percentage" max="100">{{percentage}}</progress>
                <h2 *ngIf="school_avaliable">Your day is {{percentage}}% complete.</h2>
            </div>
        </div>
        <div class="row">
            <div id="my-schedule" class="col-md-6" [hidden]="!scheduleReady">
                <div class="alert alert-danger" *ngIf="errorMsg">{{errorMsg}}</div>
                <div [hidden]="!school_avaliable" *ngFor="let c of schedule.classes; let i = index" class="schedule-container">
                    <div class="card-header">
                        <h3>{{c.name}}</h3> 
                    </div>
                    <div class="card card-block schedule-item">
                        <h3 class="card-title round-letter" *ngIf="current_class.class==c.name">{{current_class.percentage}}%</h3>
                        <p class="card-text">{{class_times[i].start}}-{{class_times[i].end}}</p><!--add letter representation of the class and its teacher-->
                    </div>
                </div>
                <div [hidden]="school_avaliable">
                    <h3>Your Schedule for tomorrow:</h3>
                    <div *ngFor="let c of schedule.classes; let i = index" class="schedule-container">
                        <div class="card-header">
                            <h3>{{c.name}}</h3> 
                        </div>
                        <div class="card card-block schedule-item">
                            <p class="card-text">{{class_times[i].start}}-{{class_times[i].end}}</p><!--add letter representation of the class and its teacher-->
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6" [hidden]="scheduleReady"><h3>loading schedule</h3></div>
            <div id="my-reminder" class="col-md-6">
                <div class="card-header">
                    <h3>Your events for today:</h3>  
                </div>
                <div class="card card-block">
                    <h3 class="card-title ">some Homework</h3>
                    <p class="card-text">Homework for Mr. McSmartypants</p>
                </div>
                <div class="card card-block">
                    <h3 class="card-title ">some Homework</h3>
                    <p class="card-text">Homework for Mr. McSmartypants</p>
                </div>
            </div>
        </div>
    </div>

    <div class="scroll-page">
        <my-progress class="flex-item" id="my-progress-details"></my-progress>
    </div>
</div>